<div class = "index">
	<h1>Oops, something went wrong</h1>
	<p>Maybe you tried to save an article that's already been created?</p>
    <%= link_to "Go home.", root_path, class: "btn btn--m btn--blue" %>
</div>